# Provider-neutral managed key broker connection. Certificate/key files are
# mounted by the orchestrator and are never copied into the application image.
SECURESTORE_KEY_PROVIDER=remote
SECURESTORE_KMS_ENDPOINT=https://securestore-key-broker.internal:8443
SECURESTORE_KMS_KEY_ID=securestore-envelope-kek
SECURESTORE_KMS_KEY_VERSION=v1
SECURESTORE_KMS_CA_FILE=/run/secrets/key-broker-ca.pem
SECURESTORE_KMS_CLIENT_CERT_FILE=/run/secrets/securestore-kms-client.pem
SECURESTORE_KMS_CLIENT_KEY_FILE=/run/secrets/securestore-kms-client-key.pem
SECURESTORE_KMS_TIMEOUT_MS=3000
